@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OperatorMonoSSmLigNerdFontAAEOPSLMDI';
  src: url('../assets/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Book.woff2');
}

html {
  font-family: 'OperatorMonoSSmLigNerdFontAAEOPSLMDI';
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}

::view-transition-new(root) {
  z-index: 1;
}

.text-stroke-hex-aaa {
  color: transparent;
  -webkit-text-stroke-color: rgba(170, 170, 170, 1);
  -webkit-text-stroke-width: 2px;
  opacity: 0.15;
}

.deep-hover {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-grid > .item {
  background: transparent;
  font-size: 1.1rem;
  width: 350px;
  max-width: 100%;
  padding: 0.5rem 0.875rem 0.875rem;
  border-radius: 6px;

  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
  &:hover {
    background: #8881;
    opacity: 1;
  }
}
