@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OperatorMonoSSmLigNerdFontAAEOPSLMDI';
  src: url('../assets/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Book.woff2');
}

html {
  font-family: 'OperatorMonoSSmLigNerdFontAAEOPSLMDI';
}
